<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Your Weather</title>
    <style>
        body{
            padding-left: 450px;
            
        }
        p{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1 style="color:blue ;font-size: 50px; font-family: Georgia, 'Times New Roman', Times, serif">THE WEATHER APP</h1>
    <h3 style="color:green;  "><i>Trace the weather all around</i></h3>
    <form action="/display" method="GET">
        <input type="text" placeholder="Location" name="pname">
        <button>Search</button>
    </form>
    <p><b>Location:</b>{{disp1}}</p>
    <p><b>Forecast:</b>{{disp2}}</p>
</body>
</html>